* {
    overflow-x: hidden;
    justify-content:center;
    align-items:center;
    
  }

  body {
    background-color:rgb(29,29,29);
    
  }

  header{
    overflow:hidden
  }

  .menu_options{
    font-family: Poppins;
    font-weight: Bold;
    font-size:18px;
    margin-right:80px;
    color:rgba(253,33,85,1);
    
  }

  .menubar{
    float:right;
    margin-top:20px;
  }

  .logo{
    float:left;
    margin:20px;
    margin-top:10px;
  }

  .signin_border {
    width: 373px;
    height: 329px;
    background: rgba(196,196,196,0);
    padding-top:45px;
    padding-bottom:55px;
    border: 3px solid #ED7D31;
    border-radius: 7px;
    overflow:hidden;
    float:center;
    margin-left:auto;
    margin-right:auto;
    margin-top:100px;
  }
  .title {
    width: 181px;
    color: rgba(255,255,255,1);
    margin-left:auto;
    margin-right:auto;
    font-family: Poppins;
    font-weight: Bold;
    font-size: 40px;
    padding-bottom:30px;
    text-align: center;
  }
  .textField {
    width: 289px;
    height: 36px;
    background: rgba(255,255,255,1);
    font-family: Open Sans;
    font-weight: Regular;
    border-radius: 7px;
    overflow: hidden;
    display:flex;
    padding-left:15px;
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
  }


  ::placeholder{
    color: rgba(150,147,160,1);
  }

  .button {
    background-color: rgba(253,33,85,1);
    border:none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: Poppins;
    font-weight: SemiBold;
    border-radius:7px;
    font-weight:SemiBold;
    margin-left:auto;
    margin-right:auto;
    margin-top:40px;
    display:block;
    overflow:hidden;
    width:25%;
  }

  .password_forget {
    width: 175px;
    color: rgba(255,255,255,1);
    font-family: Open Sans;
    font-weight: Regular;
    font-size: 12px;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
  }
  