* {
    overflow-x: hidden;
    padding: 0px !important;
    margin: 0px !important;
    vertical-align: middle;
    
  }

  body {
    background-color:rgb(29,29,29);
  }

  .v1_2 {
    width: 100%;
    height: 750px;
    background: rgba(29,29,29,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }


  .signin_border {
    width: 373px;
    height: 329px;
    background: rgba(196,196,196,0);
    position: absolute;
    top: 285px;
    left: 535px;
    border: 3px solid #ED7D31;
    border-radius: 7px;
    overflow:hidden;
    align-items: 'center';
    justify-content: 'center';
  }
  .title {
    width: 181px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 202px;
    left: 631px;
    font-family: Poppins;
    font-weight: SemiBold;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .textField {
    width: 289px;
    height: 36px;
    background: rgba(255,255,255,1);
    font-family: Open Sans;
    font-weight: Regular;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    overflow: hidden;
  }
  /* .v2_191 {
    width: 175px;
    color: rgba(150,147,160,1);
    position: absolute;
    top: 349px;
    left: 561px;
    font-family: Open Sans;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: center;
  } */

  ::placeholder{
    color: rgba(150,147,160,1);
  }

  .button {
    background-color: rgba(253,33,85,1);
    border:none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Poppins;
    font-weight: SemiBold;
    border-radius:7px;
  }

  /* .v2_186 {
    width: 111px;
    height: 36px;
    background: rgba(253,33,85,1);
    opacity: 1;
    position: absolute;
    top: 527px;
    left: 666px;
  } */
  .v2_195 {
    width: 89px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 530px;
    left: 676px;
    font-family: Poppins;
    font-weight: SemiBold;
    font-size: 18px;
    opacity: 1;
    text-align: center;
  }
  .v2_197 {
    width: 175px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 459px;
    left: 561px;
    font-family: Open Sans;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: center;
  }
  .v12_47 {
    width: 242px;
    height: 41px;
    background: url("../images/v12_47.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 31px;
    left: 51px;
    overflow: hidden;
  }
  